/* VARIABLES & FONTS */

$white: #000000;
$darkblue: #173159;
$blue: #799DA5;
$offwhite: #FDF0E5;
$grey: #444444;

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Halant:400,300,600);

$quick: 'Quicksand', Verdana, sans-serif;
$halant: 'Halant', Georgia, serif;